body {
    background-color: black;
}

h1 {
    color: limegreen;
    text-align: center;
    font-size: em;
}

#start-botton {
    color: limegreen;
    margin: auto;
}

#start {
    display: flex;
    border: 2px solid limegreen;
    width: 300px;
    height: 110px;
    margin-top: 40em;
    margin-left: 45em;
    
}

div:hover {
    background-color: rgba(50, 205, 50, 0.445);
}
