#h1 {
    width: 200px;
    padding: 40px;
    color: limegreen;
    margin: auto;
}

div {
    display: flex;
    
    border: 2px solid limegreen;
    margin: 10px 10px 10px 10px;
}

body {
    background-color: black;
}