body {
    background-color: black;
}

h1 {
    color: limegreen;
    text-align: center;
    font-size: 5em;
}

#start-botton {
    color: limegreen;
    text-decoration: none;
    border: 2px solid limegreen;
    width: 300px;
    height: 110px;
    text-align: center;
    
}

#start {
    margin-top: 40em;
    display: flex;
    justify-content: center;
    
}

#botton {
    font-size: 2em;
}

#start-botton:hover {
    background-color: rgba(50, 205, 50, 0.445);
    transition-duration: 1s ;
}

#table {
    display: flex;
    justify-content: center;
    
}

table {
    border: 1px solid limegreen;
}

th {
    font-size: 3em;
    color: limegreen;
    border: 1px solid limegreen;
    padding: 14px;
}

th:hover {
    background-color: rgba(50, 205, 50, 0.445);
    transition-duration: .5s;
}